/* CSS Document */

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

header
{
    background-color: #C21A27;
    padding: 1%;
    border-radius:5px;
}

#kategorien, #links
{
    width: 75%;
    margin-top:auto;
    height: auto;
    float: left;
}

#kategorien td
{
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    /* border: 1px solid white; */
}

a:visited, a:link, a:active
{
    text-decoration: none;
    color:white;
}

a:hover
{
    color: yellow;
    text-decoration: none;
    
}

#Logo
{
    margin-right: 2%;
    width: 20%;
    box-shadow: 5px 5px 5px 5px #eeeeee;
}


/* #rechts
{
    border: 1px solid red;
    float: right;
    margin-right: 2%;
} */

#links
{
    border: 1px solid yellow;
    float: left;
}

footer
{
    background-color: #C21A27;
    clear: both;
    float: center;
}

form input{
    color:red;
}

#links form input{
    color: yellow;
}